{% extends "base.html" %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content %}

    <h4>
        Title: {{ post.title }}<br>
        Author: {{ post.author }}<br>
        Content: {{ post.content }}<br>
        Created at: {{ post.created_at }}<br>
        Updated at: {{ post.updated_at }}<br>
        Ko'rishlar soni: {{ post.views_count }} ta
    </h4>


    {% if post.author == request.user %}
    <a href="{% url 'post_update' post.pk %}">
        Postni o‘zgartirish
    </a>
    <br>
    <a href="{% url 'post_delete' post.pk %}">
        Postni o‘chirish
    </a>
    {% endif %}


    <hr>

    <h3>Comment yozish</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit">Comment yozish</button>
    </form>

    <hr>

    <h3>Comments</h3>

    {% for comment in comments %}
        <p>
            <strong>{{ comment.author }}</strong><br>
            {{ comment.content }}<br>
            {{ comment.created_at }}
        </p>

        {% if comment.author == request.user %}
        <a href="{% url 'comment_update' comment.pk %}">
            Edit
        </a>

        <br>

        <a href="{% url 'comment_delete' comment.pk %}">
            Delete
        </a>
        {% endif %}
        
        <hr>
        
    {% empty %}
        <p>Hali commentlar yo‘q.</p>
    {% endfor %}

{% endblock %}

